akka { 
	loglevel=DEBUG,  
	loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
	
	actor {	
		provider = cluster

		deployment {
		  user/commandHandlerRouter {
			  router = round-robin-group # routing strategy
			  nr-of-instances = 10 # max number of total routees
			  routees.paths = ["/user/commandHandlers"]
			  cluster {
					enabled = on
					allow-local-routees = on
					use-role = commandService
			  }
		  }
		  
		}	
		serializers {
			hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
		}
		
		serialization-bindings {
			"System.Object" = hyperion
		}
	}

	remote {
		dot-netty.tcp {
			port = 0	
			hostname = localhost
		}
	}
	cluster {
		roles = ["restApi"] # roles this member is in
		seed-nodes = ["akka.tcp://TravelTalk@localhost:4053"]
		auto-down-unreachable-after  = 5s  #only during debuging!
	}			
} 
